In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('GP Orders - 2.csv',encoding='cp1252')

In [4]:
df2 = pd.read_csv('GP Orders - 4.csv',encoding='UTF-8')

In [5]:
df3 = pd.read_csv('GP Orders - 5.csv',encoding='UTF-8')

In [6]:
df.head()

,Order Number,Order Status,Book Name,Order Date,City (Billing)
0,70978,Completed,Column Nigari Kese Sekhain,1/20/2021 17:43,Swat
1,70962,Completed,??????? ?? ???? ??????,1/20/2021 13:37,Karachi
2,70960,Completed,Justju ka safar-1/Waqfa e Pareshani,1/20/2021 10:48,Karachi
3,70959,Completed,R ka Taaruf,1/20/2021 10:32,Karachi
4,70958,Completed,??????? ?? ???? ??????,1/20/2021 10:29,Karachi

In [7]:
df2.head()

,Order Number,Order Status,Book Name,Order Date,City (Billing)
0,70978,Completed,Column Nigari Kese Sekhain,1/20/2021 17:43,Swat
1,70962,Completed,انٹرنیٹ سے پیسہ کمائیں,1/20/2021 13:37,Karachi
2,70960,Completed,Justju ka safar-1/Waqfa e Pareshani,1/20/2021 10:48,Karachi
3,70959,Completed,R ka Taaruf,1/20/2021 10:32,Karachi
4,70958,Completed,انٹرنیٹ سے پیسہ کمائیں,1/20/2021 10:29,Karachi

In [8]:
df3.head()

,Order Number,Order Status,Book Name,Order Date & Time,City,Payment Method,Total items,Total weight (grams)
0,307,Completed,Bitcoin Blockchain aur Crypto Currency - FREE ...,10/3/2019 15:03,faisalabad,NaN,2,200.0
1,308,Completed,Kaggle for Begginers,10/3/2019 15:54,Rawalpindi,Cash on Delivery (COD),1,200.0
2,309,Completed,Kaggle for Begginers/Bitcoin Blockchain aur Cr...,10/3/2019 16:09,Hyderabad,Cash on Delivery (COD),2,200.0
3,310,Cancelled,Kaggle for Begginers,10/3/2019 16:42,Rawalpindi,Cash on Delivery (COD),1,200.0
4,311,Completed,Bit Coin Block Chain aur Crypto Currency بٹ کو...,10/3/2019 16:44,Karachi,Cash on Delivery (COD),1,200.0

In [9]:
df.tail()

,Order Number,Order Status,Book Name,Order Date,City (Billing)
19182,311,Completed,Bit Coin Block Chain aur Crypto Currency ?? ??...,10/3/2019 16:44,Karachi
19183,310,Returned,Kaggle for Begginers,10/3/2019 16:42,Rawalpindi
19184,309,Completed,Kaggle for Begginers/Bitcoin Blockchain aur Cr...,10/3/2019 16:09,Hyderabad
19185,308,Completed,Kaggle for Begginers,10/3/2019 15:54,Rawalpindi
19186,307,Completed,Bitcoin Blockchain aur Crypto Currency - FREE ...,10/3/2019 15:03,faisalabad

In [10]:
df2.tail()

,Order Number,Order Status,Book Name,Order Date,City (Billing)
19182,311,Completed,Bit Coin Block Chain aur Crypto Currency بٹ کو...,10/3/2019 16:44,Karachi
19183,310,Returned,Kaggle for Begginers,10/3/2019 16:42,Rawalpindi
19184,309,Completed,Kaggle for Begginers/Bitcoin Blockchain aur Cr...,10/3/2019 16:09,Hyderabad
19185,308,Completed,Kaggle for Begginers,10/3/2019 15:54,Rawalpindi
19186,307,Completed,Bitcoin Blockchain aur Crypto Currency - FREE ...,10/3/2019 15:03,faisalabad

In [11]:
df3.tail()

,Order Number,Order Status,Book Name,Order Date & Time,City,Payment Method,Total items,Total weight (grams)
19234,71332,Completed,Linux - An Introduction,1/25/2021 12:46,Lahore,Cash on delivery,1,200.0
19235,71394,Completed,R ka Taaruf/ڈیٹا سائنس/Python Programming/Kagg...,1/25/2021 14:06,Lahore,Cash on delivery,4,200.0
19236,71418,Completed,"Blockchain, Cryptocurrency And Bitcoin/Column ...",1/25/2021 16:37,Larkana,Cash on delivery,2,500.0
19237,71419,Completed,مشین لرننگ/ڈیٹا سائنس/Artificial Intelligence/...,1/25/2021 18:01,"Mailsi, district Vehari",Cash on delivery,10,400.0
19238,71420,Completed,Linux - An Introduction/Python Programming/Kag...,1/25/2021 20:47,Lahore,Cash on delivery,7,400.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19187 entries, 0 to 19186
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    19187 non-null  int64
 1   Order Status    19187 non-null  object
 2   Book Name       19185 non-null  object
 3   Order Date      19187 non-null  object
 4   City (Billing)  19186 non-null  object
dtypes: int64(1), object(4)
memory usage: 749.6+ KB

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19187 entries, 0 to 19186
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    19187 non-null  int64
 1   Order Status    19187 non-null  object
 2   Book Name       19185 non-null  object
 3   Order Date      19187 non-null  object
 4   City (Billing)  19186 non-null  object
dtypes: int64(1), object(4)
memory usage: 749.6+ KB

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order Number          19239 non-null  int64
 1   Order Status          19239 non-null  object
 2   Book Name             19237 non-null  object
 3   Order Date & Time     19239 non-null  object
 4   City                  19238 non-null  object
 5   Payment Method        19229 non-null  object
 6   Total items           19239 non-null  int64
 7   Total weight (grams)  19239 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.2+ MB