# Data Loading

In [89]:
import pandas as pd

In [90]:
df = pd.read_csv('GP Orders - 2.csv',encoding='cp1252')

In [91]:
df2 = pd.read_csv('GP Orders - 4.csv',encoding='UTF-8')

In [92]:
df3 = pd.read_csv('GP Orders - 5.csv',encoding='UTF-8')

In [93]:
df.head()

,Order Number,Order Status,Book Name,Order Date,City (Billing)
0,70978,Completed,Column Nigari Kese Sekhain,1/20/2021 17:43,Swat
1,70962,Completed,??????? ?? ???? ??????,1/20/2021 13:37,Karachi
2,70960,Completed,Justju ka safar-1/Waqfa e Pareshani,1/20/2021 10:48,Karachi
3,70959,Completed,R ka Taaruf,1/20/2021 10:32,Karachi
4,70958,Completed,??????? ?? ???? ??????,1/20/2021 10:29,Karachi

In [94]:
df2.head()

,Order Number,Order Status,Book Name,Order Date,City (Billing)
0,70978,Completed,Column Nigari Kese Sekhain,1/20/2021 17:43,Swat
1,70962,Completed,انٹرنیٹ سے پیسہ کمائیں,1/20/2021 13:37,Karachi
2,70960,Completed,Justju ka safar-1/Waqfa e Pareshani,1/20/2021 10:48,Karachi
3,70959,Completed,R ka Taaruf,1/20/2021 10:32,Karachi
4,70958,Completed,انٹرنیٹ سے پیسہ کمائیں,1/20/2021 10:29,Karachi

In [95]:
df3.head()

,Order Number,Order Status,Book Name,Order Date & Time,City,Payment Method,Total items,Total weight (grams)
0,307,Completed,Bitcoin Blockchain aur Crypto Currency - FREE ...,10/3/2019 15:03,faisalabad,NaN,2,200.0
1,308,Completed,Kaggle for Begginers,10/3/2019 15:54,Rawalpindi,Cash on Delivery (COD),1,200.0
2,309,Completed,Kaggle for Begginers/Bitcoin Blockchain aur Cr...,10/3/2019 16:09,Hyderabad,Cash on Delivery (COD),2,200.0
3,310,Cancelled,Kaggle for Begginers,10/3/2019 16:42,Rawalpindi,Cash on Delivery (COD),1,200.0
4,311,Completed,Bit Coin Block Chain aur Crypto Currency بٹ کو...,10/3/2019 16:44,Karachi,Cash on Delivery (COD),1,200.0

In [96]:
# df.tail()

In [97]:
# df2.tail()

In [98]:
# df3.tail()

In [99]:
# df.info()
# df2.info()
# df3.info()

# Data Wrangling

In [128]:
# frames = [df,df2]
# result = pd.concat(frames)
result = df.append(df2,ignore_index=True)
result

,Order Number,Order Status,Book Name,Order Date,City (Billing)
0,70978,Completed,Column Nigari Kese Sekhain,1/20/2021 17:43,Swat
1,70962,Completed,??????? ?? ???? ??????,1/20/2021 13:37,Karachi
2,70960,Completed,Justju ka safar-1/Waqfa e Pareshani,1/20/2021 10:48,Karachi
3,70959,Completed,R ka Taaruf,1/20/2021 10:32,Karachi
4,70958,Completed,??????? ?? ???? ??????,1/20/2021 10:29,Karachi
...,...,...,...,...,...
38369,311,Completed,Bit Coin Block Chain aur Crypto Currency بٹ کو...,10/3/2019 16:44,Karachi
38370,310,Returned,Kaggle for Begginers,10/3/2019 16:42,Rawalpindi
38371,309,Completed,Kaggle for Begginers/Bitcoin Blockchain aur Cr...,10/3/2019 16:09,Hyderabad
38372,308,Completed,Kaggle for Begginers,10/3/2019 15:54,Rawalpindi
38373,307,Completed,Bitcoin Blockchain aur Crypto Currency - FREE ...,10/3/2019 15:03,faisalabad

In [129]:
result.shape

(38374, 5)

In [130]:
result.isna().sum()

Order Number      0
Order Status      0
Book Name         4
Order Date        0
City (Billing)    2
dtype: int64

In [131]:
result.dropna(subset=['Book Name'], inplace= True)
result.dropna(subset=['City (Billing)'], inplace= True)

In [132]:
result.isna().sum()

Order Number      0
Order Status      0
Book Name         0
Order Date        0
City (Billing)    0
dtype: int64

In [133]:
rename = result.rename(columns={'City (Billing)':'City'})
rename

,Order Number,Order Status,Book Name,Order Date,City
0,70978,Completed,Column Nigari Kese Sekhain,1/20/2021 17:43,Swat
1,70962,Completed,??????? ?? ???? ??????,1/20/2021 13:37,Karachi
2,70960,Completed,Justju ka safar-1/Waqfa e Pareshani,1/20/2021 10:48,Karachi
3,70959,Completed,R ka Taaruf,1/20/2021 10:32,Karachi
4,70958,Completed,??????? ?? ???? ??????,1/20/2021 10:29,Karachi
...,...,...,...,...,...
38369,311,Completed,Bit Coin Block Chain aur Crypto Currency بٹ کو...,10/3/2019 16:44,Karachi
38370,310,Returned,Kaggle for Begginers,10/3/2019 16:42,Rawalpindi
38371,309,Completed,Kaggle for Begginers/Bitcoin Blockchain aur Cr...,10/3/2019 16:09,Hyderabad
38372,308,Completed,Kaggle for Begginers,10/3/2019 15:54,Rawalpindi
38373,307,Completed,Bitcoin Blockchain aur Crypto Currency - FREE ...,10/3/2019 15:03,faisalabad

In [134]:
rename.isna().sum()

Order Number    0
Order Status    0
Book Name       0
Order Date      0
City            0
dtype: int64

In [135]:
# rename.dropna(subset=['City'], inplace= True)

In [136]:
rename.isna().sum()

Order Number    0
Order Status    0
Book Name       0
Order Date      0
City            0
dtype: int64

In [137]:
all_data = rename.append(df3,ignore_index=True) 
all_data

,Order Number,Order Status,Book Name,Order Date,City,Order Date & Time,Payment Method,Total items,Total weight (grams)
0,70978,Completed,Column Nigari Kese Sekhain,1/20/2021 17:43,Swat,NaN,NaN,NaN,NaN
1,70962,Completed,??????? ?? ???? ??????,1/20/2021 13:37,Karachi,NaN,NaN,NaN,NaN
2,70960,Completed,Justju ka safar-1/Waqfa e Pareshani,1/20/2021 10:48,Karachi,NaN,NaN,NaN,NaN
3,70959,Completed,R ka Taaruf,1/20/2021 10:32,Karachi,NaN,NaN,NaN,NaN
4,70958,Completed,??????? ?? ???? ??????,1/20/2021 10:29,Karachi,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
57602,71332,Completed,Linux - An Introduction,NaN,Lahore,1/25/2021 12:46,Cash on delivery,1.0,200.0
57603,71394,Completed,R ka Taaruf/ڈیٹا سائنس/Python Programming/Kagg...,NaN,Lahore,1/25/2021 14:06,Cash on delivery,4.0,200.0
57604,71418,Completed,"Blockchain, Cryptocurrency And Bitcoin/Column ...",NaN,Larkana,1/25/2021 16:37,Cash on delivery,2.0,500.0
57605,71419,Completed,مشین لرننگ/ڈیٹا سائنس/Artificial Intelligence/...,NaN,"Mailsi, district Vehari",1/25/2021 18:01,Cash on delivery,10.0,400.0
57606,71420,Completed,Linux - An Introduction/Python Programming/Kag...,NaN,Lahore,1/25/2021 20:47,Cash on delivery,7.0,400.0

In [138]:
all_data.isna().sum()

Order Number                0
Order Status                0
Book Name                   2
Order Date              19239
City                        1
Order Date & Time       38368
Payment Method          38378
Total items             38368
Total weight (grams)    38368
dtype: int64

In [111]:
# Time series graph